/*web font*/

@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'EliceDigitalBaeum-Bd';
  
}

header{
  background-color: rgb(0,70,42);
  height: 340px; 
  padding: 0 120px;
  color: white;
}
 .movie-icon{
    height: 180px;
    position: absolute;
    top: 120px;
    right: 120px;
    
  }
.title{
  position: absolute;
  margin-top: 145px;
  font-size:60px;
  font-weight: bolder;
}
.subtitle{
  position: absolute;
  font-size: 20px;
  margin-top: 245px;
}
.container{
  height: 100%;
  padding:60px 90px;
}
.container-title{
  font-size: 30px;
  margin-bottom: 30px;
}

.menu{
  display: flex;
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.menu .m{
   margin-right: 30px;
}
.menu .m-un{
  
  margin-right: 30px;
  color: rgb(170, 170, 170)
}

.content{
  align-content: center;
  text-align: center;
  margin: 50px 0;
}
.content-title{
  font-size: 200%;
  font-weight: bolder;
  margin: 30px;
}
.content-small-text{
  font-size: 20px;
  color: white;
}
.search-container{
  margin: 60px 0 50px 0;
  font-size: 150%;
  font-weight: bolder;
}
input{
  height: 50px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  font-size: 23px;
}
.button-grey{
  border-style: none;
  height: 50px;
  width: 100px;
  font-size: 100%;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #f7bf59;
  color: white;  
  margin: 0 5px;
}
.button-grey:hover{
  background-color: #e4b358;
}
.button-pink{
  border-style: none;
  height: 50px;
  width: 100px;
  background-color: #FF9D72;
  color: white;
  font-size: 100%;
  font-weight: bolder;
  border-radius: 10px;
}
.button-pink:hover{
  background-color: #ff8855;
}

.result{
  font-size: 150%;
  font-weight: bolder;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.result >div{  
  padding-bottom: 40px;
  justify-content: center;
  align-content: center;
}

.button-small{
 border: none;  
  height: 40px;
  width: 90px;
  font-size: 80%;
  font-weight: bolder;
  margin: 0 100px 0 30px;
   border-radius: 10px;
}
.button-small:hover{
  background-color: #cacaca;
}
.button-container{
  display: flex;
  justify-content: flex-end;
}

.button-content{
  border: none;  
   height: 40px;
   width: 90px;
   font-size: 80%;
   font-weight: bolder;
    border-radius: 10px;
    margin: 0 10px;
 }
 .button-content:hover{
   background-color: #cacaca;
 }
.movie-result{
  font-size: 27px;
}
.movie-result > div{  
  padding: 20px;
}
.button-detail{  
 border: none;  
 height: 40px;
 width: 120px;
 font-size: 20px;
 font-weight: bolder;
  border-radius: 10px;
  margin-left: 10px;
}
.button-detail:hover{
  background-color: #cacaca;
}

.content-detail{
  font-size: 25px;
  background-color: #dddddd;
  border-radius: 20px;
  padding: 40px 30px 30px 30px;
  margin: 0 20%;
}
.content-detail .detail-title{
  font-size: 30px;
}

.content-detail .button-content-small{
  border: none;  
 height: 30px;
 width: 70px;
 font-size: 14px;
 font-weight: bolder;
  border-radius: 10px;
  margin-left: 10px;
}
.content-detail .button-content-small:hover{
  background-color: #cacaca;
}
.content-review-text{
  margin: 8px 0;
}

select{
  width: 200px;
  height: 30px;
  margin-left: 20px;
}
.review-text{
  height: 100px;
}

table{
  width: 100%;
}
.content-radio{
  font-size: 15px;
}